.info {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 384px;
  background: url("../../assets/3 Columns Background.png");
}

.info-box {
  width: 334px;
  height: 252px;
}

.info-box__nr {
  font-size: 90px;
}

.info-box__title {
  margin: 20px 0;
}

.info-box__text {
  line-height: 24px;
}
